html {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: minecraftFont;
  src: url(Minecraftia-Regular.ttf);
}
/* Credit: https://www.dafont.com/minecraftia.font*/

/* Nav Bar */

.nav a{
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  display: block;
  padding: 8px;
  background-color: #1a5965;
  border: 1px #ffffff solid;
  margin: 5px;
  margin-top: 15px;
  height: 22px;
  border-radius: 5%;
}

.nav a:hover{
  background-color: #ffffff;
  color: #1a5965;
  border: 10px;
  font-size: 18px;
}

.navBtn{
  float: right;
  width: 65px;
  text-align: center;
}

.headingText{
  margin: 15px;
  float: left;
}

body {
  background-color: #0C212E;
}


/* Classes */
.banner {
  background-color: #05434F;
  color: aliceblue;
  text-align: left;
  overflow: hidden;
  font-family: minecraftFont;
  height: 75px;
}

.container {
  background-color: #05434F;
  color: aliceblue;
  overflow: hidden;
  font-family: minecraftFont;
}

.guideContainer {
  background-color: #05434F;
  color: aliceblue;
  overflow: hidden;
  font-family: minecraftFont;
  text-align: center;
}

.container h3{
  text-align: center;
}

.wardenColor{
  color: #227F92;
  text-decoration: underline;
}

.about{
  background-color: #05434F;
  color: aliceblue;
  float: left;
  overflow: hidden;
  font-family: minecraftFont;
}

.guideAbout {
  background-color: #05434F;
  color: aliceblue;
  margin: 20px;
  overflow: hidden;
  font-family: minecraftFont;
}

.about img {
  width: 600px;
  height: 350px;
}

.guide{
  float: left;
  margin: 13px;
}

/* ID's */
